<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.posyanduapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PosyanduApp">
        <activity
            android:name=".ui.bidan.AnakActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bidan.RekapimunisasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bidan.RiwayatrujukanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bidan.PemeriksaankesehatanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bidan.KelolajadwalimunisasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bidan.RujukanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bidan.KesehatananakActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bidan.BerandabidanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PendaftaranActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PencarianActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>